/*=====================*/
/* MEDIA QUERIES BEGIN */
/*=====================*/


/* small screen-sized phones */
@media only screen and (max-width: 480px) {
    #slide3 #desc {
        line-height: 1.6 !important;
    }
}

/* medium sized phone screens, < Ipad */
@media only screen and (max-width: 767px) {

    /*HOMEPAGE*/
    header {
        background-position: 80% 0 !important;
    }
    .main-headline {
        font-size: 0.43rem !important;
        padding-left: 190px;
        padding-top: 100px;
    }

     .link--takiri::before {
        width: 80% !important;
        left: 10% !important;
    }
    .link--takiri span {
        top: 238px;
        left: 45px;
    }
    /*SKILLS*/
    .col {
        width: 100%;
    }
    .process-workflow img {
        margin-left: 40%;
    }

    /*PROJECTS*/
    .projects img {
        padding-top: 0 !important;
    }
    .projects h2 {
        padding-top: 40px !important;
    }
    #desc {
        padding-left: 20px;
        padding-right: 20px;
        line-height: 1.7;
        font-size: 1.3rem !important;
    }
    .slider {
        height: 1000px !important;
    }
    #slide3 #desc,
    #slide4 #desc,
    #slide5 #desc {
        font-size: 1.3rem !important;
    }

    /*RESUME*/
    .resume{
       background: url(imgs/symphony.png);
       background-repeat: repeat;
    }


    /*CONTACT*/
   #map {
        width: 100%;
        height: 350px;
        position: relative;
        z-index: 0;
    }

    .contact {
        background-color: #e1e1e1;
        width: 100%;
        height: auto;
        position: relative;
    }

    .form-box {
        position: relative;
        z-index: 1;
        height: auto;
        width: 100%;
        padding-top: 30px;
    }
    .contact .labels {
        text-align: center;
    }
    .contact .btn {
        margin-left: 37%;
    }

    /*FOOTER*/
    footer > * {
        font-size: 1.5rem;
    }
    .socials p{
        margin: 20px 20px 0 20px;
        font-size: 2.5rem;
        display: inline-block;
    }


    .nav-links {
        display:none;
    }
    nav span {
        margin-top: 7px;
    }
    nav img {
        margin-top: 5px;
    }
    .burger-icon {
        display: inline-block !important;
        margin-top: 3px;
    }
    .nav-links {
        float: left;
        margin-top: 38px;
        margin-left: 25px;
    }
    .nav-links a{
        display: block !important;
    }
    .nav-links a:link,
    .nav-links li a:visited{
        border:0;
        display: block;
        padding: 5px 0;
        font-size: 100%;
    }
    nav a#format::before{
        position: absolute;
        top: 0;
        left: 0;
        width: 0%;
        height: 0px;
        content: '';
    }

    nav a#format::after{
        position: absolute;
        top: 0;
        left: 0;
        width: 0px;
        height: 0px;
        content: '';
    }

    nav a#format:hover::before {
        top: 0%;
        opacity: 1;
    }

    nav a#format:hover::after {
        height: 0%;
    } 
}

@media only screen and (min-width: 768px) and (max-width: 847px) {
    header {
        background-position: 90% 0 !important;
    }
    .main-headline {
        font-size: 0.5rem !important;
        margin-left: 250px !important;
    }
    .link--takiri::before {
        width: 100% !important;
        left: 0% !important;
    }
    .link--takiri span {
        top: 250px;
        left: 45px;
    }

    .nav-links {
        display:none;
    }
    .burger-icon {
        display: inline-block !important;
        margin-top: 3px;
    }
    nav span {
        margin-top: 7px;
    }
    nav img {
        margin-top: 5px;
    }
    .nav-links {
        /*float: left;*/
        margin-top: 38px;
        margin-left: 25px;
    }
    .nav-links a{
        display: block !important;
    }
    .nav-links a:link,
    .nav-links li a:visited{
        border:0;
        display: block;
        padding: 5px 0;
        font-size: 100%;
    }
    nav a#format::before{
        position: absolute;
        top: 0;
        left: 0;
        width: 0%;
        height: 0px;
        content: '';
    }

    nav a#format::after{
        position: absolute;
        top: 0;
        left: 0;
        width: 0px;
        height: 0px;
        content: '';
    }

    nav a#format:hover::before {
        top: 0%;
        opacity: 1;
    }

    nav a#format:hover::after {
        height: 0%;
    } 
}

/* Ipad in portrait mode */
@media only screen and (max-width: 1023px) {
    .main-headline {
        font-size: 0.6rem;
        margin-left: 150px !important;
    }
    .link--takiri::before {
        width: 120%;
        left: -10%;
    }
    .link--takiri {
        color: white !important;
        text-shadow: none;
    }
    .link--takiri::before {
        -webkit-transform: rotate3d(0,0,1,45deg) scale3d(1,1,1);
        transform: rotate3d(0,0,1,45deg) scale3d(1,1,1);
        text-shadow: none;
    }
    .link--takiri span {
        opacity: 1;
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
        text-shadow: none;
    }

    /*PROJECTS*/
    .projects img {
        padding-top: 100px;
    }

    #desc {
        font-size: 1.42rem !important;
    }

    /*EDUCATION*/
    .education {
        padding-left: 20px;
        padding-right: 20px;
    }
    /*CONTACT*/
    form {
        width: 90% !important;
    }
    .contact-box {
        width: 90% !important;
    }
}

/* bigger screens than ipad and ipad in landscape */
@media only screen and (max-width: 1200px) {
    /*HOMEPAGE*/
    header {
        background-position: 100% 0;
    }
    .main-headline {
        margin-left: 100px;
    }

    .homepage-foot .down-arrow {
        color: #f3c91f;
    }
    /*NAV*/
    nav {
        font-size: 1.5rem !important;
    }
    nav a {
        margin: 0 10px;
    }

    /*PROJECTS*/
    #slide1 img,
    #slide2 img{
        max-width: 80% !important;
        margin-left: 50px !important;
    }

    #slide3 img,
    #slide4 img{
        max-width: 60% !important;
        margin-left: 50px !important;
    }

    #slide5 img {
        max-width: 70% !important;
        margin-left: 50px !important;
    }
    #desc {
        font-size: 1.5rem;
        margin-left: 0 !important;
    }

    /*CONTACT*/
    form {
        width: 70%;
    }
}


@media only screen and (max-width: 1400px) {
    .main-headline {
        transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
    }
    nav {
        font-size: 1.8rem;
    }
    .about-me {
        font-size: 1rem !important;
    }

    /*PROJECTS*/
    .slide h2 {
        font-size: 3rem;
        padding-top: 10rem;
    }

    .slide h3 {
        font-size: 1.8rem;
        margin-top: 15px;
        letter-spacing: 1.5px;
    }

    #slide1 img,
    #slide2 img{
        max-width: 90%;
        margin-left: 30px;
    }

    #slide3 img,
    #slide4 img{
        max-width: 70%;
        margin-left: 30px;
    }

    #slide5 img {
        max-width: 80%;
        margin-left: 30px;
    }
    #desc {
        font-size: 1.5rem;
    }

    #slide3 #desc {
        line-height: 1.8;
    }

}
