/*color: #f3c91f*/

/* =============
    BASIC SETUP 
================ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    color: #262222;   
    font-family: 'Playfair Display', 'Lato', 'Raleway', serif;
    font-size: 62.5%; /*base font-size*/
    font-weight: 300;
    text-rendering: optimizeLegibility;
    max-width: 100%;
    overflow-x: hidden;
}


.container {
    max-width: 1140px; 
    margin: 0 auto;
    overflow: auto;
}

section {
    padding: 70px 0;
}

col {
    margin-bottom: 20px;
}

a, a:visited, a:hover, a:active {
  text-decoration: none;
  color: inherit;
}

/* ========
    HEADER 
=========== */
header{
	background-image:url("imgs/homepage.jpg");
	background-size: cover;
	box-sizing: border-box;
	height: 90vh;
}

.main-headline { 
    /*center the headline*/
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-60%, -50%);
    -o-transform: translate(-60%, -50%);
    -webkit-transform: translate(-60%, -50%);
    -moz-transform: translate(-60%, -50%);
    -ms-transform: translate(-60%, -50%);
}

.main-headline a {
    color: #2b5aa0;
}

.link--takiri {
    font-style: italic;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 20em;
    padding: 0 10px 20px;
    -webkit-transition: color 0.5s;
    transition: color 0.5s;
}

.link--takiri:hover {
    color: white;
    text-shadow: none;
}

.link--takiri::before {
    content: '';
    position: absolute;
    height: 32px;
    width: 132%;
    top: 50%;
    left: -17%;
    z-index: -1;
    background: #224983;
    -webkit-transform: rotate3d(0,0,1,45deg) scale3d(0,1,1);
    transform: rotate3d(0,0,1,45deg) scale3d(0,1,1);
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
}

.link--takiri:hover::before {
    -webkit-transform: rotate3d(0,0,1,45deg) scale3d(1,1,1);
    transform: rotate3d(0,0,1,45deg) scale3d(1,1,1);
    text-shadow: none;
}

.link--takiri span {
    font-size: 35%;
    font-weight: 400;
    position: absolute;
    right: 0px;
    color: #f3c91f;
    top: 280px;
    bottom: 0;
    opacity: 0;
    transition: all 180s;
    -webkit-transform: translate3d(-10px,-10px,0);
    transform: translate3d(-10px,-10px,0);
    -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s;
}

.link--takiri:hover span {
    transition: 0.5s;
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    text-shadow: none;
}

/* Grid */
.grid__item {
    height: calc(100vh - 40px);
    max-height: 300px;
    max-width: 450px;
    background: none;
    margin: 20px;
    padding: 20px 0;
    z-index: 1;
    position: relative;
    text-align: center;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-transform: translate3d(0,0,0); /* Solves Safari bug because of SVG clipping mask */
}

.homepage-foot {
    display: block;
    width: 100%;
    height: 10vh;
    background-color: #1a3660;
}

.homepage-foot p {
    font-size: 7em;
    padding-right: 50%;
    padding-left: 50%;
    padding-top: 30px;
    color: white;
    text-align: center;
    transition: all 0.3s;
}

.homepage-foot .down-arrow:hover {
    color: #f3c91f;
}

/*=================*/
/*NAVIGATION BAR*/
/*=================*/

nav img {
    height: 35px;
    width: auto;
    float: left;
    margin-left: 20px;
}

nav span {
    float: left;
    text-transform: uppercase;
    color: black;
    margin-top: 2px;
}

span#sanchayjaveria:hover,
nav img:hover {
    cursor: pointer;
}

span#sanchay {
    margin-left: 10px;
    font-weight: 700;
}

nav {
    transition: all 0.3s ease-in-out;
    overflow: auto;
    font-family: 'Lato';
    font-weight: 300;
    position: fixed;
    font-size: 2rem;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-box-shadow: 0px 6px 11px -4px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 6px 11px -4px rgba(0,0,0,0.3);
    box-shadow: 0px 6px 11px -4px rgba(0,0,0,0.3);
    z-index: 100;
    background-color: rgba(255, 255, 255, 0.95);
}

.nav-links {
    text-align: center;
    margin: 15px 0;
    /*margin-top: 18px;*/
}

nav a {
    position: relative;
    display: inline-block;
    margin: 15px 25px;
    outline: none;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-shadow: 0 0 1px rgba(255,255,255,0.3);
}

nav a:hover,
nav a:focus {
    outline: none;
}

/* ON HOVER FORMATTING & EFFETCS */
nav a {
    margin: 0 25px;
    padding: 5px 10px;
}

nav a::before{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1.5px;
    background: #f3c91f;
    content: '';
    -webkit-transition: top 0.3s;
    -moz-transition: top 0.3s;
    transition: top 0.3s;
}

.increase-a-weight {
    font-weight: 700;
}

nav a::after{
    position: absolute;
    top: 0;
    left: 0;
    width: 1.5px;
    height: 1.5px;
    background: #f3c91f;
    content: '';
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    transition: height 0.3s;
}

nav a:hover::before {
    top: 100%;
    opacity: 1;
}

nav a:hover::after {
    height: 100%;
} 

/*==========*/
/* ABOUT ME */
/*==========*/
.about-me {
    font-family: 'Lato';
    padding: 10rem 0;
    background-image: linear-gradient(rgba(93, 116, 128, 0.9), rgba(93, 116, 128, 0.9)), url(imgs/about-me-II.jpg);
    background-size: cover;
    background-attachment: fixed;
    font-size: 1.9rem;
    color: white;
}

.about-me p {
    width: 80%;
    line-height: 1.8;
    margin: 0 auto 2.5rem auto;
    text-align: justify;
    font-size: 1.8rem;
}

.about-me img {
    display: block;
    margin: 0 auto;
    height: 16rem;
    width: 15rem;
    margin-bottom: 3rem;
    border-radius: 50%;
}

.about-me h3 {
    text-align: center;
    text-transform: uppercase;
    font-size: 3rem;
    margin-bottom: 60px;
    color: white;
}

.about-me h3::after {
    content: "";
    display: block;
    height: 3px;
    background-color: #f3c91f;
    width: 60px;
    margin: 0 auto;
    margin-top: 20px;
}

.about-me p:last-child { margin-bottom: 0; }

#typerjs {
    border-bottom: 1px solid #f3c91f;
    transition: all 0.3s;
}

/*========*/
/* SKILLS */
/*========*/

.skills, 
.education {
    font-family: 'Lato';
    padding: 10rem 0;
    padding-bottom: 0;
    color: black;
    font-size: 1.9rem;
}

.skills h2,
.education h2 {
    text-transform: uppercase;
    text-align: center;
    font-size: 3.5rem;
}

.skills #top-h3 {
    text-align: center;
    font-weight: 300;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 2.8rem;
}

.skills h2::after,
.education h2::after {
    content: "";
    display: block;
    height: 3px;
    background-color: #f3c91f;
    margin: 0 auto;
    margin-bottom: 25px;
}

.skills h2::after,
.education h2::after {
    margin-top: 30px;
    width: 70px;
}

.skills #inner-h3,
.education #inner-h3 {
    text-align: center;
    font-weight: 400;
    margin-bottom: 20px;
}

.skills .box1,
.skills .box2,
.skills .box3,
.skills .box4,
.education #box1,
.education #box2{
    margin-top: 35px;
    text-align: center;
}

.skills .box1 p,
.skills .box2 p,
.skills .box3 p,
.skills .box4 p{
    text-align: left;
    line-height: 30px;
    margin: 0 10px;
    font-size: 1.6rem;
}

.skills .box2 p{
    text-align: left;
}

.skills .box1 p{
    margin: 0;
    margin-left: 30px;
}

.skills .box3 p{
    text-align: left;
}

.skills .box4 p{
    text-align: center;
}

.skills .box4 {
    margin-left: 0;
}

.skills i,
.education i{
    color: #f3c91f;
    margin-bottom: 10px;
    font-size: 4rem;
}

/* PROCESS */

.process-workflow {
    background-color: #f9f9f9;
    margin-top: 8rem;
    padding: 50px 0;
    color: #818080;
    text-transform: uppercase;
}

.process-workflow h2 {
    text-transform: uppercase;
    text-align: center;
    font-size: 3.5rem;
}

.process-workflow h2::after {
    content: "";
    display: block;
    height: 3px;
    background-color: #f3c91f;
    margin: 0 auto;
    margin-top: 30px;
    width: 70px;
}

.process-workflow img {
    display: block;
    margin-left: 32%;
    margin-bottom: 20px;
    transition: margin 0.2s;
}

.process-workflow img:hover {
    margin-top: -10px;
    margin-bottom: 30px;
}

#box-p-text {
    font-size: 1.6rem;
    letter-spacing: 2px;
}

.process-workflow .box-p {
    margin-top:60px;
    text-align: center;
}

/*=============*/
/*  PROJECTS   */
/*=============*/

.projects{
    padding: 0;
    font-family: 'Lato';
}

.projects a{
    text-decoration: none;
    font-weight: 700;
    color: white;
}

#slide1 {
    background-image: linear-gradient(rgba(105, 141, 165, 0.9), rgba(105, 141, 165, 0.9)), url(imgs/macbook.jpeg);
    background-size: cover;
}

#slide2 {
    background-image: linear-gradient(rgba(10, 149, 174, 0.9), rgba(10, 149, 174, 0.9)), url(imgs/macbook.jpeg);
    background-size: cover;
}

#slide3 {
    background-image: linear-gradient(rgba(132, 137, 105, 0.9), rgba(132, 137, 105, 0.9)), url(imgs/iphone.jpeg);
    background-size: cover;
}

#slide4 {
    background-image: linear-gradient(rgba(241, 134, 60, 0.9), rgba(241, 134, 60, 0.9)), url(imgs/iphone.jpeg);
    background-size: cover;
}

#slide5 {   
    background-image: linear-gradient(rgba(248, 105, 32, 0.9), rgba(248, 105, 32, 0.9)), url(imgs/flight.jpeg);
    background-size: cover;
}


.slide h2 {
    text-transform: uppercase;
    font-size: 3.5rem;
    color: white;
    letter-spacing: 2px;
    padding-top: 10rem;
    text-align: center;
}

.slide h3 {
    font-size: 2rem;
    color: white;
    margin-top: 15px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    text-align: center;
}

.slide h2::after {
    content: "";
    display: block;
    height: 3px;
    background-color: #f3c91f;
    margin: 0 auto;
    margin-top: 15px;
    width: 70px;
}

#slide1 img,
#slide2 img{
    max-width: 100%;
}


#slide3 img,
#slide4 img{
    max-width: 80%;
}

#slide5 img {
    max-width: 90%;
}

#img-box {
    margin-top: 60px;
}

#desc {
    margin-top: 60px;
    color: white;
    line-height: 1.8;
    text-align: justify;
    font-size: 1.7rem;
}

#desc p{
    margin-bottom: 20px;
}

#desc ul {
    margin-bottom: 20px;
}

#slide3 #desc {
    line-height: 1.6;
}

/*=========*/
/*EDUCATION*/
/*=========*/
.education {
    padding: 8rem 0;
}

#box1 p, 
#box2 p{
    font-size: 1.6rem;
    line-height: 26px;
}

/*========*/
/* RESUME */
/*========*/

/*========*/
/* CONTACT*/
/*========*/
.contact {
    font-family: 'Lato';
}

.contact h2 {
    font-size: 3.8rem;
    text-transform: uppercase;
    text-align: center;
}

.contact h2::after {
    content: "";
    display: block;
    height: 3px;
    background-color: #f3c91f;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 40px;
    width: 70px;
}

form {
    width: 60%;
    margin: 0 auto;
    margin-top: 25px;
    font-size: 1.8rem;
}

form label {
    font-weight: 400;
}

form > div {
    margin-bottom: 10px !important;
}

input, 
select, 
textarea {
    width: 80%;
    padding: 7px;
    border: 1px solid transparent;
    outline-width: 0;
    margin-left: 40px;
    background: #f0efee;
}

textarea{
    max-width: 80%;
}

#map {
    width: 100%;
    height: 600px;
    position: relative;
    z-index: 0;
}

.contact {
    width: 100%;
    height: 600px;
    position: relative;
}

.form-box {
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 1;
    height:600px;
    width: 50%;
    padding-top: 40px;
}

.btn {
    text-decoration: none;
    color: white;
    border-radius: 100px;
    display: inline-block; /* to give some padding, a mix between inline and block elements*/
    padding: 10px 30px;
    font-weight: 300;
    margin-top: 30px;
    transition: all 0.3s;
    background-color: #f3c91f;
    border: 1px solid #f3c91f; /* common attributes to both buttons */
    cursor: pointer;
}

.btn:hover {
    color: #f3c91f;
    background-color: transparent;
}

.form-messages {
    width: 70%;
    margin: 0 auto;
    margin-bottom: 20px;
}

.success {
    color: green;
}

.error {
    color: red;
}
/*========*/
/* FOOTER */
/*========*/
footer {
    padding: 35px;
}

footer > * {
    display: block;
    text-align: center;
    font-size: 1.6rem;
    margin-bottom: 1rem;
    font-family: 'Lato';
}

footer img {
    height: 7rem;
    margin-bottom: 20px;
}

#heart {
    color: #f02424;
}

.socials p{
    margin: 40px 40px 0 40px;
    font-size: 3rem;
    display: inline-block;
}

#linkedin,
#github,
#facebook,
#google {
    transition: all 0.3s;
}

#linkedin:hover {
    color: rgb(0, 119, 181);
}

#github:hover {
    color: black;
}

#facebook:hover {
    color: rgb(59, 89, 152);
}

#google:hover {
    color: rgb(221, 57, 65);
}