* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato';
}

.container {
    max-width: 1140px; 
    margin: 0 auto;
    overflow: auto;
}

section {
    padding: 70px 0;
}

.resume {
    text-align: center;
    background: url(imgs/symphony.png);
    background-repeat: repeat;
    font-size: 0;
    box-sizing: border-box;
}

.resume img {
    border: 7px solid black;
    max-width: 70%;
}

.resume p {
    background:black;
    color: white;
    max-width: 70%;
    margin: 0 auto;
    display: block;
    font-size: 1rem;
    font-weight: 300;
    padding: 1%;
    padding-bottom: 2%;
}

.resume a{
	text-decoration: none;
	color: white;
}

.resume i {
	margin-left: 5px;
}